
.Wrapper
  display: flex
  background-color: transparent
  align-items: center
  cursor: ${(props) => props.isDisabled ? "not-allowed" : "pointer"}
  opacity: ${(props) => props.isDisabled ? "0.1" : "0.7"}
  &:hover
    opacity: ${(props) => props.isDisabled ? "0.1" : "1"}

  &:disabled
    opacity: 0.4

.Wrapper--isDisabled
  opacity: 0.1

  &:hover
    opacity: 0.1

.ButtonNavigation
  color: var(--colortext)
  background-color: transparent
  border: none



`